{% extends "layout.html" %}

{% block content %}
<div class="home-container">
  {% for s in allSeries %}
  <section class="series-section">
    <h2><a href="{{ rootPath }}{{ s.url }}">{{ s.title }}</a></h2>
    <ul class="article-list">
      {% for article in s.articles %}
      <li>
        <a href="{{ rootPath }}{{ article.url }}">{{ article.title }}</a>
        <span class="date">{{ article.date | date }}</span>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endfor %}
</div>
{% endblock %}
